* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    background: url(./img/wall.png);
    background-size: cover;
    background-repeat:no-repeat ;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-size: 40px;

    
}
.container{
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    justify-content: center;
}
  
.memory-game {
    width: 640px;
    height: 640px;
    /* margin: auto; */
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
}

.memory-card {
    width: calc(25% - 10px);
    height: calc(33.333% - 10px);
    margin: 5px;
    position: relative;
    transform-style: preserve-3d;
    box-shadow: 1px 1px 0 rgba(0, 0, 0, .3);
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
    box-shadow: 0px 0px 5px 1px orange;
}

memory-card:active {
    transform: scale(0.97);
    transition: transform .2s;
}
  
.front-face,
.back-face {
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute;
    border-radius: 5px;
    background: url(./img/blue-card.png);
    backface-visibility: hidden;
    opacity: 0.9;
}
.memory-card.flip{
    transform: rotateY(180deg);
}
.front-face{
    transform: rotateY(180deg);
}
.infoBlock{
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.infoBlock .gameStatusText{
    color: #eaeaf9;
    overflow: hidden;  
    white-space: nowrap;  
    margin: 0 auto;  
    letter-spacing: .17em;
    animation:  
    typing 3.5s steps(30, end),
    blink-caret .7s step-end infinite;
}
.gameStatus{
    display: none;
    font-size: 100px;
    text-shadow: 1px 1px 15px orange;
}
@media screen and (max-width: 768px) {
    body{
        font-size: 15px;
    }
    .memory-game {
        width: 360px;
        height: 360px;
    } 
    .container{
        max-width: 360px;
    }
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
@keyframes blink-caret {
from, to { border-color: transparent }
50% { border-color: orange }
}